@{
    ViewData["Title"] = "Home Page";
}

  //TODO 7: missing code 0.5pt
  //div id found in boot.tsx
<div id="react-app">loading...</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
